@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor_primaria: #000000;
    --cor_secundaria: #F6F6F6;
    --cor_terciaria: #22D4FD;
    --cor_hover: #272727;

    --fonte_primaria: "Krona One", sans-serif;
    --fonte_secundaria: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body{

    box-sizing: border-box;
    background-color: var(--cor_primaria);
    color: var(--cor_secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.menu{
    display: flex;
    gap: 80px;
}

.cabecalho__link{
    font-family: var(--fonte_secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor_terciaria);
    text-decoration: none;
}

strong{
    color: var(--cor_terciaria);
}

.apresentacao{
    /* chama classes */
    display: flex;
    padding: 5% 15%;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_img{
    width: 50%;
    border: var(--cor_terciaria);
}

.titulo{
    font-size: 2.25rem;   
    /* -1 REM = 16px */
    font-family: var(--fonte_primaria);
}

.paragrafo{
    font-size: 1.5rem;    
    font-family: var(--fonte_secundaria);
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__subtitulo{
    font-family: var(--fonte_primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.link{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor_terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor_secundaria);
    font-family: var(--fonte_secundaria);
    font-weight: 600;
}

.link__img{
    display: flex;
    width: 10%;
}

.link:hover{
    background-color: var(--cor_hover);
}

.rodape{
    padding: 24px;
    text-align: center;
    color: var(--cor_primaria);
    background-color: var(--cor_terciaria);
    font-family: var(--fonte_secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }
    
    .menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao_img{
        width: 100%;
    }
}